html {
  background: url("https://cdn.pixabay.com/photo/2015/10/29/14/38/web-1012467_1280.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: "Amatic SC", cursive;
}
